@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

*{
  padding: 0px;
  margin: 0px;
}

body{
  background-color: #f5f5f5;
  font-family: "Fira Sans", serif;
}
.main{
  max-width: 910px;
  /* height: auto; */
  margin-left: 120px;
  margin-right: 120px;
}
/* Navbar aria */
.myNavbar{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0  20px 0  0;
}

.myNavbar h1{
  color: #0e0e0e;
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  
}

.myNavbar button{
  color: #006a50;
  background-color: #f5f5f5;
  padding: 15px 30px 15px 30px;
  border: 1px solid #006a50;
  border-radius: 8px;
  box-sizing: border-box;
}
/* Hero aria */
.hero_main{
  width: 910px;
  height: 397px;
  background-color: #c6e4d6;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  border-radius: 24px;
  
}

.hero_sec1{
  padding: 35px;
}

.hero_sec1 h4{
  font-size: 20px;
  margin-bottom: 10px;
  color:#0E0E0E80;
}

.hero_sec1 h1{
font-size: 40px;
margin-bottom: 20px;
}

.hero_sec1 button{
  padding: 10px 20px 10px 20px;
  color: white;
  background-color: #006A50;
  border: none;
  border-radius: 5px;
}
.hover1:hover{
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
}
.hover2:hover{
  background-color: #008CBA;
  color:white;
  cursor: pointer;
  transition-duration: 0.4s;
}
.hover3:hover{
  background-color: #139907;
  color:white;
  cursor: pointer;
  transition-duration: 0.4s;
}
.hover4:hover{
  background-color: #7e09ed;
  color:white;
  cursor: pointer;
  transition-duration: 0.4s;
}
.hover5:hover{
  background-color: #a0e708;
  color:white;
  cursor: pointer;
  transition-duration: 0.4s;
}

.hero_sec2{
  padding-right: 35px;
}

.hero_pic{
  width: 336px;
  height: 240px;
}
/* Vision aria */
.main_pillars{
  margin-top:50px;
  margin-bottom: 20px;
}
.main_pillars h1{
  font-size: 40px;
}
.pillars1{
  background-color: rgba(84, 144, 245, 0.2);
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px;
 
}
.pillars2{
  background-color: rgba(84, 144, 245, 0.2);
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
}
.pillars3{
  background-color: rgb(198, 228, 214);
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
}
.pillars4{
  background-color: rgb(247, 235, 207);
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
}
.pillars4 p{
  color: rgba(14, 14, 14, 0.7);
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.pillars2 p{
  color: rgba(14, 14, 14, 0.7);
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.pillars3 p{
  color: rgba(14, 14, 14, 0.7);
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pillars1 p{
  color: rgba(14, 14, 14, 0.7);
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.pillars1 h2{
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 10px;
  margin-top: 10px;
}
.pillars_img{
  width: 100px;
  height: auto;

}
.sub_pillars{
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center ;
  margin: 0 auto;
}
.pera{
  color:rgba(14, 14, 14, 0.7);
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  
}
.btn3{
  background-color: #09a15c;
  color: white;
  padding: 11px 20px 11px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn2{
  background-color: #5490f5;
  color: white;
  padding: 11px 20px 11px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn4{
  background-color: #ffc239;
  color: white;
  padding: 11px 20px 11px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.whitespace{
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.quatation{
  background-image: url('../assets/quote-bg.png');
  background-repeat: no-repeat;
  
  
}
.quatation p{
  color: rgba(14, 14, 14, 0.8);
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 25px;
}
.quatation h3{
  color: rgba(14, 14, 14, 0.8);
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}